<h1> New Author <h1>

<%= form_for :author do |f| %>
  <p>
    <%= f.label :'First name' %><br>
    <%= f.text_field :"first name" %>
  </p>

  <p>
    <%= f.label :'Last Name' %><br>
    <%= f.text_field :lastName %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>